<style type="text/css">
.widget_settings_tabs .ui-tabs-nav {

}

.widget_settings_tabs .ui-tabs-panel {
    margin: 0 0 0 3px;
}

.add-block{}
.add-block:hover{}

</style>
<div id="design-wrapper">
    <div style="display:block; clear:both; background: #d6dde7; width:100%; height: 500px; overflow: hidden;">
        <div style="width: 200px; float: left;">
            {{ this.widget('extTabs',  {
                'tabs':{
                    'Блоки':{
                        'ajax':'/admin/blocks/all?catPk='~cat.pk, 'id':'all-widgets'
                    },
                    'CSS':{
                        'ajax':'/admin/files/cssManage', 'id':'cssFiles'
                    },
                    'JS':{
                        'ajax':'/admin/files/jsManage', 'id':'jsFiles'
                    },
                },
                'options':{
                    'collapsible':false,
                    'cache':true,
                },
                'id':'block-tabs',
                'htmlOptions' : {'style':'height:495px'},
                'extHeaderHtml':'<div id="trash"></div>'
            }, true) }}
        </div>
        <div style="margin-left: 200px;">
            <div id="widget-details" style="overflow:hidden; height: 500px; border-left: 1px solid #AAA;">
            </div>
        </div>
    </div>


    <script type="text/javascript">
    $(document).ready(function() {
        
    });
    </script>
</div>