<style type="text/css">
.widget_settings_tabs .ui-tabs-nav {

}

.widget_settings_tabs .ui-tabs-panel {
    margin: 0 0 0 3px;
}
/*
.blue-head {position: relative; background: #e5ecf4; height: 27px; overflow: hidden;
*/

.dark-blue-head {padding: 2px 0 2px 15px; background: #1A3852;}
.add-block{color: #FFF !important; font-weight: bold; text-decoration: none !important;}
.add-block:hover{color: #FFF !important; font-weight: bold; text-decoration: none !important;}

.save-button {float: right;}
.submit-form-result {float: right;}

</style>
<div id="design-wrapper">
    <div style="display:block; clear:both; background: #d6dde7; width:100%; height: 500px; overflow: hidden;">
        <div style="width: 200px; float: left;">
            {{ this.widget('FormTabs',  {
                'tabs':{
                    'Блоки':{
                        'ajax':'/admin/blocks/all?catPk='~cat.pk, 'id':'all-widgets'
                    },
                    'CSS':{
                        'ajax':'/admin/files/cssManage', 'id':'cssFiles'
                    },
                    'JS':{
                        'ajax':'/admin/files/jsManage', 'id':'jsFiles'
                    },
                },
                'options':{
                    'collapsible':false,
                    'cache':true,
                },
                'id':'block-tabs',
                'htmlOptions' : {'style':'height:495px'},
                'extHeaderHtml':'<div id="trash"></div>'
            }, true) }}
        </div>
        <div style="margin-left: 200px;">
            <div id="widget-details" style="overflow:hidden; height: 500px; border-left: 1px solid #AAA;">
            </div>
        </div>
    </div>


    <script type="text/javascript">
    $(document).ready(function() {
        $('#block-tabs').delegate('#blocks li.widget-link a', 'click', function() {
            $('#widget-details').load($(this).attr('href'));
            return false;
        }).asc({
            linkClass: 'add-widgets-btn'
        }).asc({
            linkClass: 'make-own-btn',
            isStatic: true,
            buttons: {
                "Да" : function() {
                    var $t = $('#blocks .make-own-btn'),
                        url = $t.attr('href');
var res = '';
for(var a in $(this))
    res += a+' = '+$(this)[a]+"</br>\n";
alert($(this).attr('id'));
return false;
                    //make own and reload tab
                    $.get(url, {}, function(data) {
                        if (data == 'ok')
                            $('#block-tabs').tabs('load', 0);
                    });
                    
                    $(this).dialog("close");
                },
                "Отмена" : function() {
                    $(this).dialog("close");
                }
            }
        }).asc({
            linkClass: 'add-block',
            success: function() {
               $('#block-tabs').tabs('load', 0);
            }
        });

        $("#block-tabs").delegate('#blocks li', "mouseenter", function() {
              var $t = $(this);
              if($t.is(":data(draggable)")) return;
              $t.draggable({
                helper: "clone",
                opacity: .75,
                refreshPositions: true, // Performance?
                revert: "invalid",
                revertDuration: 300,
                scroll: true
            });
        });

        //delete blocks
        $("#trash").droppable({
            drop: function(e, ui) {
                var params = $(ui.draggable).attr("id").split('_'),
                    type = params[0],
                    pk = params[1],
                    url;

                if (type == 'widgets') {
                    url = "/admin/widgets/delete";
                } else if (type == 'blocks') {
                    url = "/admin/blocks/delete"
                }

                $.get(url, {pk : pk}, function() {
                    $(ui.draggable).remove();
                });
            },
            hoverClass: "accept"
        });

        //form submit
        var ajaxSave = function () {
            var form = $('#widget-details form');
            if (form == undefined) return false;

            form.ajaxSubmit({
                 success: function() {
                    form.find('.submit-form-result').fadeOut(0).text('Сохранено').fadeIn(500).delay(800).fadeOut(500);
                 }
            });
            return false;
        }

        $('#widget-form-save-button').click(ajaxSave);
        $('#widget-details').delegate('form', 'submit', ajaxSave);

    });
    </script>
</div>