<div class="form">
<?php $form=$this->beginWidget('CActiveForm', array(
	'id'=>'posts-form',
	'enableAjaxValidation'=>true,
	'htmlOptions' => array(
		'enctype'=>'multipart/form-data'
	)
));
	echo $form->errorSummary($model);
	if($model->isNewRecord)
		echo $form->hiddenField($model, 'category_id', array('value'=>$_GET['catId'])) ?>
	<div class="row">
		<div class="left"><?php echo $form->labelEx($model,'alias')?></div>
		<div class="right">
			<?php echo $form->textField($model,'alias',array('size'=>60,'maxlength'=>255)); ?>
			<?php echo $form->error($model,'alias'); ?>
		</div>
	</div>
	<div class="row">
		<div class="left"><?php echo $form->labelEx($model,'template'); ?></div>
		<div class="right">
			<com:CodeMirror type={'text/html'} form={$form} model={$model} attr='template' id='template' />			
			<?php echo $form->error($model,'template'); ?>
		</div>
	</div>
	<div class="row buttons">
		<?php echo CHtml::submitButton($model->isNewRecord ? 'Создать' : 'Сохранить'); ?>
	</div>

<?php $this->endWidget(); ?>
</div><!-- form -->