<?php $this->beginTab('Шаблон')?>
	<h3 style="float:left">Обновление шаблнона <?php echo $model->alias ?></h3>
	<?php echo CHtml::link('Удалить шаблон', $model->deleteUrl, array('style'=>'float:right')) ?>
	<?php echo $this->renderPartial('_form', array('model'=>$model)) ?>
<?php $this->endTab()?>

<?php $this->beginTab('Стили и Скрипты')?>
	<div id="css_js_trees">
		<div class="cssTree" style="float:left; width:50%">
			<h4>Css файлы</h4>
			
			<com:CTreeView collapsed={true} data={$cssFiles} />
		</div>
		<div class="jsTree" style="float:left; width:50%">
			<h4>Js файлы</h4>
			<com:CTreeView collapsed={true} data={$jsFiles} />
		</div>
	</div>
	<div style="clear:both; height:550px">
	<?php 
	Y::clientScript()->registerScriptFile('/js/submitter.js');
	$jsId = 'js_content';
	$cssId = 'css_content';
	
	$css_js ="
$(document).ready(function() {
	var wrapper = $('#css_js_trees'),
		js_wrapper = $('#js_editor_wrapper').fadeOut(0),
		css_wrapper = $('#css_editor_wrapper').fadeOut(0),	
		form = $('#css_js_form');
	
	wrapper.find('a.file').click(function() {
		css_wrapper.fadeOut(200);
		js_wrapper.fadeOut(200);
		$.post($(this).attr('href'), {}, function(data) {
			form.find('input[name=\"type\"]').val(data.type);
			form.find('input[name=\"filePath\"]').val(data.filePath);
			$('#file_path_viewer').text(data.filePath);
			
			if (data.type == 'css') {
				form.find('input[name=\"file_name\"]').val(data.fileName);
				".$cssId."_CM_editor.setValue(data.content);
				css_wrapper.fadeIn(200);					
			}
			if (data.type == 'javascript') {
				".$jsId."_CM_editor.setValue(data.content);
				js_wrapper.fadeIn(200);
			}
			form.find(':submit').fadeIn(200);
			
			if (!form.is(':data(submitter)')) {
				var fields = new Array();
				fields['js_file_content'] = ".$jsId."_CM_editor;
				fields['css_file_content'] = ".$cssId."_CM_editor;
				form.submitter({
					page : form.attr('action'),
					CM_fields : fields,
					fields : new Array('type', 'filePath')
				});
			}
		}, 'json');
		return false;
	});
	
	var curFolder, url;
	wrapper.find('a.add_file').click(function() {
		url = $(this).attr('href');
		curFolder = $(this).parent();
		$('#create-file').dialog('open');
		return false;    
	});
	
	$('#create-file').find('input:button').click(function() {
		$('#create-file').dialog('close');
		var fileName = $('#create-file').find('input[name=\"file_name\"]').val();
		
		$.get(url, {fileName : fileName}, function(data) {
			$('<li>').html(fileName).prependTo(curFolder.children('ul'));	
		});
		return false;
	});
});
	";
	Y::clientScript()->registerScript('css_js', $css_js)?>
		<div class="success_box"></div>
		<div class="er_box"></div>
		<?php echo CHtml::form('','POST', array('id'=>'css_js_form'));?>
			<?php echo CHtml::hiddenField('type')?>
			<?php echo CHtml::hiddenField('filePath')?>
			<div style="height:30px">
				<?php echo CHtml::submitButton('Cохранить', array('style'=>'display:none;'))?>
				<div id="file_path_viewer" style="float:right"></div>
			</div>
			<div id="css_editor_wrapper" style="float::left">
				<com:CodeMirror type='css' id={$cssId} name='css_file_content' content='' />
			</div>			
			<br/>
			<div id="js_editor_wrapper" style="float::left">
				<com:CodeMirror type='javascript' id={$jsId} name='js_file_content' content='' />
			</div>
		<?php echo CHtml::endForm();?>
	</div>
<?php $this->endTab()?>
<?php $this->getTabs()?>
<?php 
$this->beginWidget('zii.widgets.jui.CJuiDialog', array(
	'id'=>'create-file',
	'htmlOptions'=>array(
		'title'=>'Введите название файла',
	),
	'options'=>array(
		'autoOpen'=>false,
		'modal'=>true,
		'width'=>350,
		'height'=>270,
	),	
));
	
	echo CHtml::textField('file_name');
	echo CHtml::button('Создать');
  
$this->endWidget('zii.widgets.jui.CJuiDialog'); 
?>