<ul id="exists-widgets">
    {% for widget in widgets %}
        <li class='exists-widget btn-blue' id="exist-widget_{{ widget.class }}">
            <div>
                {{ widget.title }}
            </div>
        </li>
    {% else %}
        Нет доступных виджетов
    {% endfor %}
</ul>
