<div class="dark-blue-head">
    {{ Admin.link('Добавить виджет +', 'widgets/add', {'class':'add-block'}) }}
</div>
{{ this.widget('CTreeView', {'collapsed':true,'data':widgets, 'id':'widgets'}, true) }}


<script type="text/javascript">
$(document).ready(function() {
    $('#block-tabs').delegate('#all-widgets li.widget-link a', 'click', function() {
        $('#widget-details').load($(this).attr('href'));
        return false;
    }).asc({
        linkClass: 'add-widgets-btn'
    }).asc({
        linkClass: 'add-block',
        success: function() {
           $('#block-tabs').tabs('load', 0);
        }
    });
});
</script>
