<ul class="widgets" style="display: none">

    {% for widget in block.widgets %}
        <li id="widgets_{{ widget.pk }}">
            {{ widget.detailsLink }}
        </li>
    {% else %}
        Пока не создано ни одного блока
    {% endfor %}

</ul>
