<div id="css_js_trees">
	<div class="cssTree" style="float:left; width:50%">
		<h4>Css файлы</h4> <a href=""><img src="/images/add_file.png'/></a>
		<com:CTreeView collapsed={true} data={$cssFiles} />
	</div>
	<div class="jsTree" style="float:left; width:50%">
		<h4>Js файлы</h4>
		<com:CTreeView collapsed={true} data={$jsFiles} />
	</div>
</div>