<script type="text/javascript">
$(document).ready(function() {
    $('#jsFiles a').click(function() {
        $('#widget-details').load($(this).attr('href'));
        return false;
    });
});
</script>
<div id="js_tree">
	<div class="jsTree" style="float:left; width:50%">
		{{ this.widget('CTreeView', {'collapsed':true, 'data':jsFiles, 'id':'jsFiles'}, true) }}
	</div>
</div>